.pokertable {
  width: 90%;
  margin: 0 auto;
  position: relative;
  height: 0;
  padding-top: 52%;
  box-sizing: border-box;
}

.pokertable button {
  padding: 0;
}

.felt {
  position: absolute;
  top: 15%;
  left: 10%;
  border-radius: 50%;
  background: #081563;
  height: 63%;
  width: 80%;
  text-align: center;
}

.seat {
  position: absolute;
  width: 20%;
  height: 16%;
  left: 40%;
  background: grey;
  border-radius: 8px;
  font-size: 1.2vw;
  text-align: center;
}

.seat button {
  position: absolute;
  height: 70%;
  width: 70%;
  top: 15%;
  left: 15%;
  font-size: 1.3vw;
}

.seat.active {
  background: #ccc;
}

.seat-0 {
  top: -6%;
}

.seat-1 {
  bottom: -6%;
}

.seat-1 .invested {
  position: absolute;
  top: -130%;
  color: white;
}

.seat-0 .invested {
  position: absolute;
  bottom: -50%;
  color: white;
}

.dealer-button {
  height: 40%;
  width: 16%;
  background: #edd925;
  border-radius: 50%;
  font-size: 1.4vw;
  line-height: 140%;
}

.seat-0 .dealer-button {
  position: absolute;
  right: 0;
  bottom: -50%;
}

.seat-1 .dealer-button {
  position: absolute;
  right: 0;
  top: -50%;
}

.card {
  position: absolute;
  height: 0;
  width: 25%;
  padding-top: 35%;
  box-sizing: border-box;
  bottom: 100%;
  color: white;
  font-size: 3vw;
  border-radius: 10%;
}

.card:nth-child(1) {
  left: 23%;
}

.card:nth-child(2) {
  right: 23%;
}

.card div {
  position: absolute;
  top: 10%;
  right: 0;
  bottom: 0;
  left: 0;
}

.card.suit-h {
  background-color: red;
}

.card.suit-s {
  background-color: black;
}

.card.suit-d {
  background-color: blue;
}

.card.suit-c {
  background-color: green;
}

.card.suit-unknown {
  background-color: #555;
}

.pot-size {
  color: white;
  position: absolute;
  top: 52%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

ul.board {
  position: absolute;
  height: 15%;
  top: 35%;
  width: 26%;
  left: 37%;
  padding: 0;
  margin: 0;
}

ul.board li {
  position: relative;
  float: left;
  list-style: none;
  width: 18%;
  margin-right: 2%;
  height: 100%;
}

ul.board .card {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10%;
  border: 1px solid black;
}

.chat {
  position: absolute;
  height: 30%;
  width: 38%;
  left: 0;
  bottom: 0;
}

#chat-window {
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 25%;
  font-size: 1.5vw;
  border: 1px solid #ccc;
  background-color: white;
}

#chat-window div {
  padding: 0 0.5vw;
}

#chat-window div:nth-child(odd) {
  background-color: #eee;
}

.chat form {
  position: absolute;
  height: 22%;
  left: 0;
  right: 0;
  bottom: 0;
}

.chat input.chat-message {
  width: 100%;
  height: 100%;
  font-size: 1.6vw;
  float: left;
  padding: 0.25vw 0.5vw;
}

.action-window {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 13%;
}

.action-window .btn-group {
  width: 100%;
  height: 100%;
}

.action-window button {
  width: 33.333%;
  height: 100%;
  font-size: 1.7vw;
}

.action-window .bet-size-buttons {
  position: absolute;
  top: -60%;
  right: 0;
  height: 50%;
  width: 60%;
  font-size: 1.55vw;
}

.action-window input {
  position: absolute;
  top: -110%;
  right: 0;
  width: 40%;
  font-size: 1.6vw;
  line-height: 1.5;
  padding: 0 0.5vw;
  height: auto;
}

div.meta-buttons {
  position: absolute;
  top: 0;
  left: 0;
}

div.meta-buttons button {
  width: 12vw;
  padding: 0.5vw;
  font-size: 1.5vw;
  float: left;
  clear: left;
  margin-top: 0.5vw;
}
